= form_for(provider, :html => { :class => 'form-stacked' }) do |f|
  .row
    = render :partial => "shared/form_errors", :locals => { :object => provider }
    = render :partial => 'provider_fields', :locals => { :f => f, :provider => provider }
  .actions
    = f.submit :class => 'btn primary'
