-if c.children.size > 0
  %fieldset{ :id => "sub-children-of-#{c.id}"}
    .sub-category
      - for ch in c.children do
        %label
          = check_box_tag 'provider[category_ids][]', ch.id, ( :checked if provider.categories.include? ch ), :class => 'category-sub-parent'
          %span= ch.name
        = render :partial => 'providers/sub_category_fields', :locals => { :c => ch, :provider => provider, :f => f }
