#adv-categories
  #index
    .row
      .span8
        %legend Choose category below
        .row
          - for adv_category in adv_categories
            .span2.cat_block
              = link_to adv_category do
                = image_tag 'standart_default_cat_icon.png', :alt => adv_category
                .title= adv_category.name
      .span4
        %legend Right column

