.bundle
db/*.sqlite3
db/sphinx
log/
tmp/
.sass-cache/
.idea
*.iml
*.swp
*.swo
.rvmrc
mcmegavolt/
public/uploads/
public/assets/
public/ckeditor_assets/
config/deploy.rb
*~
/DB diagram.mwb
/DB diagram.mwb.bak
