.control-group
  = f.label :tutor_category, :class => 'control-label'
  .controls.field.provider-categories
    = f.select :tutor_category_id, root_tutor_categories.collect{|c| [ c, c.id ] }, :prompt => t(:'admin.users.selectors.select_category')
- root_tutor_categories.each do |c|
  .field.provider-category{ :id => "child-of-#{c.id}"}
    .field
      = render :partial => 'tutors/sub_category_fields', :locals => { :c => c, :tutor => tutor, :f => f }