-if c.children.size > 0
  %fieldset{ :id => "sub-children-of-#{c.id}"}
    .sub-category
      - for ch in c.children do
        %label
          = check_box_tag 'tutor[tutor_category_ids][]', ch.id, ( :checked if tutor.tutor_categories.include? ch ), :class => 'category-sub-parent'
          %span= ch.name
        = render :partial => 'tutors/sub_category_fields', :locals => { :c => ch, :tutor => tutor, :f => f }
