- set_meta_tags :title => t(:'seo.sections.tutor_categories')
.row
  .span12
    %h3 Выберите нужную категорию
    %ul.categories.clearfix
      - for child in tutor_categories
        %li
          %h3= link_to child, child
          - if child.children
            %ul.children-categories
              - for child in child.children
                %li= link_to child, child

    %hr/
    - if tutors.size > 0
      %ul.entries
        - for tut in tutors
          = render :partial => 'tutor_categories/tutor', :locals => { :tutor => tut }
      .page_navigation.clear= paginate tutors
    - else
      Нет зарегистрированных преподавателей в этой категории
    %hr/