= form_for posting, :html => {:class => 'form-horizontal'} do |f|

  = render :partial => 'posting_fields', :locals => { :f => f }

  .form-actions
    = f.submit :class => 'btn'
    or
    = link_to 'Cancel', user_postings_path(current_user)

