.more_postings
  - for c in posting.posting_categories.roots do
    - for post in c.postings.approved.limit(3) do
      .carousel
        .carusel-inner
          .active.item
            = link_to posting_path(post) do
              - if post.images.present?
                = image_tag post.images.last.src_url(:medium)
            .carousel-caption
              %p= link_to post.title, posting_path(post)
    .clear
    -#%p.plus
      = link_to '<span>Еще</span> + '.html_safe + (c.postings.approved.size - 5).to_s, posting_category_path(c)
