.bookmarks
  #vk_like
  :javascript
    VK.Widgets.Like("vk_like", {type: "button", verb: 1});
  .fb-like( data-send = "true" data-layout = "button_count" data-width = "450" data-show-faces = "true" )
