-# Yandex Informer
= link_to "http://metrika.yandex.ru/stat/?id=15507685&amp;from=informer", :target => "_blank", :rel => "nofollow", :style => "margin-right:40px;text-decoration:none;" do
  = image_tag "//bs.yandex.ru/informer/15507685/3_1_FFFFFFFF_EFEFEFFF_0_pageviews", :style => "width:88px; height:31px; border:0;padding:0;margin:0;", :onclick => "try{Ya.Metrika.informer({i:this,id:15507685,type:0,lang:'ru'});return false}catch(e){}", :alt => "Яндекс.Метрика", :title => "Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)"

