- if controller.send(:_layout) == 'admin'
  - flash.each do |name, msg|
    %div{ :class => "alert alert-#{name} fade in" }
      %a.close{ 'data-dismiss' => 'alert'}
        x
      = msg
- else
  - flash.each do |name, msg|
    :javascript
      humane.waitForMove = true
      humane.log('#{escape_javascript(msg)}');




