%h1= t(:'admin.tutor_categories.edition')

= render 'form'

= link_to admin_tutor_category_path(tutor_category), :method => :delete, :confirm => 'Are you sure?' do
  %i.icon-remove
  = t(:'admin.provider_categories.delete')