.column.span-20.prepend-4
  =breadcrumbs_for_tutor_category tutor_category
  %h2= tutor_category.name
  .description= tutor_category.description

  %ul
    - tutor_category.children.each do |child|
      %li= link_to child.name, child


  %h3 Вхождения:
  %ul
    - tutor_category.tutor_categorizings.each do |tutor_categorizing|
      %li= link_to tutor_categorizing.tutor.name, tutor_path(tutor_categorizing.tutor.permalink)

