#wiki
  #index
    .row
      .span9
        .row
          - roots_wiki_pages.each do |root|
            .span3
              .index_image
                = link_to wiki_path(root) do
                  = image_tag root.image_url(:standart) if root.image?
                  -#%h4= link_to root.title, wiki_path(root)
                  %h2
                    %span
                      = root.title
      .span3
