-if c.children.size > 0
  %fieldset{ :id => "sub-children-of-#{c.id}"}
    .sub-category
      - for ch in c.children do
        %label
          = check_box_tag 'event[event_category_ids][]', ch.id, ( :checked if event.event_categories.include? ch ), :class => 'category-sub-parent'
          %span= ch.name
        = render :partial => '/events/event_sub_category_fields', :locals => { :c => ch, :event => event, :f => f }
