.control-group
  = f.select :contact_type_id, Contact::CONTACT_TYPES.collect{|ct| [t(:"contacts.social_icons.#{ct}"), Contact::CONTACT_TYPES.index(ct)]}, { :prompt => t(:'providers.edit.contacts.prompt') }, :class => 'span2'
  = f.text_field :value, :class => 'span3'
  %span{:style=>'margin-left:10px;'}
    = link_to_remove_fields "<i class=\'icon-remove\'></i>".html_safe, f
