%h1= t(:'admin.provider_categories.edition')

= render 'form'

= link_to admin_category_path(category), :method => :delete, :confirm => 'Are you sure?' do
  %i.icon-remove
  = t(:'admin.provider_categories.delete')