<h1>Editing category</h1>

<%= render 'form' %>
<br/>
<hr/>
<%= link_to 'Delete', admin_category_path(provider_category), :confirm => 'Are you sure?', :method => :delete, :confirm => 'Are you sure?' %>