= link_to posting_category.name, edit_admin_posting_category_path( posting_category ), :class => "sub_category_label", :style => "margin-left: 30px;"

-if posting_category.children
  - for posting_category in posting_category.children
    = link_to posting_category.name, edit_admin_posting_category_path( posting_category ), :class => "sub_category_label", :style => "margin-left: 60px;"
    = render :partial => 'posting_category', :collection => posting_category.children
