%ul
  %li
    = link_to posting_category.name, edit_admin_posting_category_path( posting_category )


  -if posting_category.children
    %ul
      - for posting_category in posting_category.children
        %li
          = link_to posting_category.name, edit_admin_posting_category_path( posting_category )
        = render :partial => 'posting_category', :collection => posting_category.children
