%h1 Editing posting category

= render 'form'
%hr/
= link_to 'Show', admin_posting_category_path
= link_to 'Delete', admin_posting_category_path(posting_category), :confirm => 'Are you sure?', :method => :delete, :confirm => 'Are you sure?'