/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.

 = require_tree .

 = require skins/markitup/style.css
 = require sets/markdown/style.css

 = require_self
*/


$baseColor: #1A5585;
$shadeColor: #ebebeb;

body {
  background: #fff;

  h1 {
    font-size: 20px;
  }
}
a, a:hover{
  color: $baseColor;

}

header {
  min-height: 50px;
  padding-top: 1em;
  position: relative;

  h1#logo, h1#logo a {
    display: block;
    float : left;
    height: 92px;
    margin: 0;
    width: 300px;
  }

  h1#logo {
    background: transparent image_url('logo.png') no-repeat left top;
    margin-left: 6px;
    margin-bottom: 10px;
  }

  nav{
    background: $shadeColor;
    border-radius: 6px 6px 6px 6px;
    clear: both;
    padding-bottom: 6px;
    text-transform: uppercase;

    ul{
      //background: #1a7db8;
      background: $baseColor;
      border-radius: 6px 6px 0 0;
      clear: both;
      list-style: none;
      margin:0;
      padding:0 6px;
      li{
        float: left;
      }
    }
    ul:after{
      content: '';
      clear: both;
      display:block;
    }
    a{
      border-right: 1px solid $shadeColor;
      border-top: none;
      border-bottom: none;
      color: #fff;
      display: inline-block;
      margin: 0;
      padding: .5em 1em;
    }
    li.active, a:hover{
      color: #000;
      background: $shadeColor;
      text-decoration: none;
    }
  }
  ul.login-nav{
    list-style: none;
    position: absolute;
    right: 0;
    text-align: right;
    top: .5em;
    line-height: 32px;

    li{
      border-left: 1px solid;
      display: inline;
      padding-left: .5em;
      .icon{
        vertical-align: middle;
      }
    }
    li:first-child{
      border-left: none;
      padding-left: 0;
    }
  }
  .banner{
    float:right;
    margin-top: 2em;
  }
}

body.admin nav ul li {
  font-size: 12px;
}

.banner{
  margin-bottom: 1em;
  img{
    max-width: 100%;
  }
}

/* FOOTER */
footer {
  border-top: 1px solid #f0f0f0;
  padding: 1.3em 0;

  .footer-categories {
    border-bottom: 1px solid #e7e7e7;
    margin: 0 -1.3em;
    padding: 1.3em;
  }

  .copyright {
    background: #f7f7f7;
    margin: 0 -1.3em;
    padding: 1.3em;

    .copyright-text {
      text-align: right;
    }
  }
}


/* Admin panel */


/* Category managers */



a:link.root_category_label,
a:active.root_category_label,
a:visited.root_category_label
{
    float: left;
    clear: both;
    padding: 3px 8px;
    margin:  3px 3px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid white;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #2D6987;
}

a:hover.root_category_label
{
    background-color: #1D4559;
    text-decoration: none;
    -webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none !important;
}




a:link.sub_category_label,
a:active.sub_category_label,
a:visited.sub_category_label
{
    clear: left;
    float: left;
    padding: 3px 8px;
    margin:  3px 3px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid white;
    color: #585858;
    background-color: #DCDCDC;
    text-decoration: none;
    -webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none !important;
}

a:hover.sub_category_label
{

    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #999;

}





/* MAIN */
#main{
  padding:  1.5em 0;
  min-height: 400px;
}

/* UTILS */
.clear{
  clear: both;
}
/* image replacement */
.ir {
  text-indent: -9999px;
}

/* list without bullets */
.no-bullets{
  list-style: none;
  margin: 0;
  padding: 0;
}
/* /UTILS */

/* FORMS */
textarea{
  display: block;
  height: 120px;
  max-width: 100%;
}
/* /FORMS */

/* NEWS */
.news-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

