/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 = require jquery.ui.datepicker
 = require jquery-star-rating
 = require_tree .
 = require_self
*/

$baseColor: #005C99;
$shadeColor: #ebebeb;

body {
  background: #fff;
  font-family: Ubuntu;
  font-style: normal;
  p {
    font-family: Ubuntu;
  }
  h1 {
    font-size: 20px;
    line-height: 25px;
  }
}
a, a:hover{
  color: $baseColor;

}

header {
  min-height: 50px;
  padding-top: 1em;
  position: relative;

  h1#logo, h1#logo a {
    display: block;
    float : left;
    height: 92px;
    margin: 0;
    width: 300px;
  }

  h1#logo {
    background: transparent image_url('logo.png') no-repeat left top;
    margin-left: 6px;
    margin-bottom: 10px;
  }

  nav{
    //background: $shadeColor;
    height: 36px;
    background: image_url('menu_bg.png') $baseColor repeat-x;
    border-radius: 4px 4px 4px 4px;
    clear: both;
    //text-transform: uppercase;

    ul{
      //background: $baseColor;
      clear: both;
      list-style: none;
      margin:0;
      padding:0 6px;
      li{
        float: left;
        line-height: 26px;
      }
    }
    ul:after{
      content: '';
      clear: both;
      display:block;
    }
    a{
      text-shadow: 0px 0px 1px #646464;
      filter: dropshadow(color=#646464, offx=0, offy=0);
      //font-weight: bolder;
      background: image_url('menu_separator.png') right no-repeat;
      border-top: none;
      border-bottom: none;
      color: #fff;
      display: inline-block;
      margin: 0;
      padding: 5px 14px;
      //-webkit-transition: background 200ms ease-in;
      //-moz-transition: background 200ms ease-in;
      //-ms-transition: background 200ms ease-in;
      //-o-transition: background 200ms ease-in;
      //transition: background 200ms ease-in;
    }
    li.active, a:hover, a.current{
      -webkit-transition: background 100ms ease-out;
      -moz-transition: background 100ms ease-out;
      -ms-transition: background 100ms ease-out;
      -o-transition: background 100ms ease-out;
      transition: background 100ms ease-out;
      text-shadow: none;
      filter: dropshadow(none);
      color: #ffffff;
      text-decoration: none;
      background: image_url('menu_bg_active.png') repeat-x;
    }
  }
  ul.login-nav{
    list-style: none;
    position: absolute;
    right: 0;
    text-align: right;
    top: .5em;
    line-height: 32px;

    li{
      border-left: 1px solid;
      display: inline;
      padding-left: .5em;
      .icon{
        vertical-align: middle;
      }
    }
    li:first-child{
      border-left: none;
      padding-left: 0;
    }
  }
  .banner{
    float:right;
    margin-top: 2em;
  }
}

body.admin nav ul li {
  font-size: 12px;
}

.banner{
  margin-bottom: 1em;
  img{
    max-width: 100%;
  }
}

/* FOOTER */
footer {
  border-top: 1px solid #f0f0f0;
  padding: 1.3em 0;

  .footer-categories {
    border-bottom: 1px solid #e7e7e7;
    margin: 0 -1.3em;
    padding: 1.3em;
  }

  .copyright {
    background: #f7f7f7;
    margin: 0 -1.3em;
    padding: 1.3em;

    .copyright-text {
      text-align: right;
    }
  }
}

/* Bookmarks */

table.bookmarks {

  width: 100%;
  margin-bottom: 8px;
  padding: 0px;
  height: 19px;
  background: #f5f5f5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;


    td.facebook {
      width: 200px !important;
      div.fb-like  {
        width: 200px;
        span {
          width: 200px;
          iframe {
            width: 200px !important;
          }
        }
      }
    }

    td.vkontakte {
      width: 180px !important;

      div#vk_like {
        width: 180px;
        margin: 0px;
        padding: 0px;
      }
    }
    td.twitter {
      width: 100px !important;

    }
    td.plusone {
      #___plusone_0 {
        width: 60px !important;
      }
    }

  td {
    padding: 5px 5px 2px 6px;
  }

  }

iframe.twitter-share-button {
  width: 100px !important;
}

.breadcrumb {
  border: none;
  background: none;
  padding: 0px;
}

/* Admin panel */

/* Category managers */

a:link.root_category_label,
a:active.root_category_label,
a:visited.root_category_label
{
    float: left;
    clear: both;
    padding: 3px 8px;
    margin:  3px 3px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid white;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #2D6987;
}

a:hover.root_category_label
{
    background-color: #1D4559;
    text-decoration: none;
    -webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none !important;
}




a:link.sub_category_label,
a:active.sub_category_label,
a:visited.sub_category_label
{
    clear: left;
    float: left;
    padding: 3px 8px;
    margin:  3px 3px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid white;
    color: #585858;
    background-color: #DCDCDC;
    text-decoration: none;
    -webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none !important;
}

a:hover.sub_category_label
{

    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #999;

}
.block-title{
  background: #1A5585;
  color: #fff;
  border-radius: 6px;
  font-size: 1em;
  line-height: 1.5;
  font-weight: normal;
  margin-bottom: 1em;
  padding: 0 .5em;
  //text-transform: uppercase;
}

.error_explanation {
  h4 {

  }
  ul {
    li {

    }
    margin-top: 10px;
  }
  margin-top: 10px;
}


/* MAIN */
#main{
  padding:  1.5em 0;
  min-height: 400px;
}

/* UTILS */
.clear{
  clear: both;
}
/* image replacement */
.ir {
  text-indent: -9999px;
}

/* list without bullets */
.no-bullets{
  list-style: none;
  margin: 0;
  padding: 0;
}
/* /UTILS */

/* FORMS */
textarea{
  display: block;
  height: 120px;
  max-width: 100%;
}
/* /FORMS */

/* NEWS */
.news-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

