/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require blueprint/screen
 *= require_self
 *= require_tree .
*/

body{
  background: #f7f7f7 url('bg_body.jpg');
  color: #666666;
}

a {
  color: #0c9;
}


h3, h3 a {
  color: #00c191;
  font-style: italic;
}

#page {
  background: transparent  url('bg_header_shadow.png') repeat-x 0 0;
}

header {

}

/* LOGO */

h1#logo, h1#logo a {
  display: block;
  float : left;
  height: 90px;
  margin: 0;
  width: 242px;
}

h1#logo {
  background: transparent image_url('logo.png') no-repeat left top;
}


header nav ul{
  margin: 0 0 5px 0;
  padding: 0;
  list-style: none;
}

header nav ul li{
    background: #e0e0e0;
    font-size: 14px;
}

header nav a {
  background: #fff image_url('bg_top_nav_item.jpg') repeat-x left bottom;
  border: 2px solid #dfdfdf;
  border-radius: 1em;
  color: #187bb3;
  float : left;
  /*font-size: 1em;*/
  font-weight: bold;
  line-height: 2;
  padding: 0 1em;
  margin: 0 3px 0 0;
  text-decoration: none;
}

header nav a:hover,
header nav a.active {
  background: #1879b0;
  border-color: #1872a8;
  color: #fff;
}

.login-bar {
  color: #f0f0f0;
  float: right;
  font-weight: bold;
  margin-top: 1em;
}

.login-bar a{
  color: #f0f0f0;
}
/* FOOTER */
footer {
  background: #f0f0f0;
  padding: 0 1.3em;
}

footer .footer-categories {
  border-bottom: 1px solid #e7e7e7;
  margin: 0 -1.3em;
  padding: 1.3em;
}

footer .copyright {
  background: #f7f7f7;
  margin: 0 -1.3em;
  padding: 1.3em;
}
/* MAIN */
#main{
  background: #fff;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #efefef;
  border-radius: 0.8em 0.8em 0 0;
  /*margin: 0 auto;*/
  padding:  1.3em;
  /*width: 950px;*/
}


/* UTILS */
/* image replacement */
.ir {
  text-indent: -9999px;
}

/* list without bullets */
.no-bullets{
  list-style: none;
  margin: 0;
  padding: 0;
}

/* CATEGORY */
.category-item {
  float: left;
  width: 33.33%;
  min-height: 10em;
}

.category-item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* NEWS */
.news-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
