// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #9FB518;
$rosie: #95044D;
$silver: #DDDDDD;

@mixin rounded($radius){
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

#events, #event-categories {

  #nav-holder {

    //background: #fafafa;
    margin-bottom: 16px;
    //padding: 6px;
    //border-top: 1px solid #eeeeee;
    //@include rounded(5px);

    ul.navigation {

      margin: 0;

      li {

        list-style-type: none;
        display: inline;
        margin: 0px 0px 0px 10px;
        padding: 0px 0px 0px 0px;

        &:hover, &.current {
          border-bottom: 1px solid $green;
        }
        &.current a {
          color: $green;
        }
        a:link {
          text-decoration: none;
        }
        &:hover {
          cursor: pointer;
        }
      }


    }
  }


  #show {
    .description {
    }
    .date {
      color: $green;
      font-size: 16px;
      line-height: 30px;
      //@include rounded(5px);
    }
    h1 {
      font-size: 20px;
      font-weight: normal;
      margin-bottom: 10px;
    }
    .info {
      margin-left: 15px;
      .info-label {
        font-weight: bold;
        margin: 3px 0px;
      }
      .free {
        color: $green;
      }
    }
  }

  #index {
    .date {
      .number{
        text-align: center;
        font-size: 20px;
        margin-bottom: 3px;
        font-weight: bolder;
        color: #9FB518;
      }
      .month{
        text-align: center;
        font-size: 14px;
        color: #6a6a6a;
      }
      .city {
        text-align: center;
        margin-top: 3px;
        text-transform: uppercase;
        font-size: 9px;
        background: $silver;
        color: grey;
        @include rounded(3px);
      }
    }
    table tbody tr:hover, table thead th {
      background: #fafafa;
    }
  }
  .free {
    color: $green;
  }

}