// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home {

  //img {
  //  -webkit-border-radius: 4px;
  //  -moz-border-radius: 4px;
  //  border-radius: 4px;
  //
  //}

   .flexslider {
      margin-bottom: 15px;
      height: 238px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     border-radius: 4px;
     overflow: hidden;
     img {
       -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       border-radius: 4px;
     }
     .flex-caption {
       background:none;
       -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
       filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
        zoom: 1;

       width: 366px;
       padding: 2%;
       margin: 0;
       position: absolute;
       left: 0;
       bottom: 0;
       background: rgba(255,255,255,.9);
       color: #fff;
       //text-shadow: 0 -1px 0 rgba(0,0,0,.6);
       font-size: 14px;
       line-height: 18px;
       -webkit-border-radius: 0px 0px 4px;
       -moz-border-radius: 0px 0px 4px;
       border-radius: 0px 0px 4px;
       a {
         //color: #ffffff;
       }
       p.title {
         margin: 0px 0px 3px;
       }
       p.info {
         color: #1A1A1A;
         font-size: 11px;
         margin: 0px;
         a {
         }
       }
     }
   }

  .last-postings-block {
    .last-postings-title {
      background: #9b9b9b;
      color: #ffffff;
      padding: 3px 5px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      a, a:hover{
        color: #ffffff;
        font-size: 11px;
      }
    }

    ul.last-postings {
      margin: 0px 0px 0px 15px;
      padding: 0px;
      li {
        list-style-image: image_url("bullet_right.png");
        float: none;
        width: 100%;
        margin: 5px 0px;
        padding: 0px;
      }
    }
  }

  .wiki-block {
    margin-top: 10px;
    background: #f6f6f6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 140px;
    .all-wiki {
      text-align: center;
      float: right;
      width: 20px;
      height: 140px;
      background: #b3b3b3;
      -webkit-border-radius: 0px 4px 4px 0px;
      -moz-border-radius: 0px 4px 4px 0px;
      border-radius: 0px 4px 4px 0px;
      i {
        margin-top: 60px;
      }
    }
    .all-wiki:hover {
      background: #d5d5d5;
    }
    .wiki-title {
      float: left;
      width: 20px;
      height: 140px;
      background: #C10862;
      text-align: left;
      -webkit-border-radius: 4px 0px 0px 4px;
      -moz-border-radius: 4px 0px 0px 4px;
      border-radius: 4px 0px 0px 4px;
      h3 {
        font-size: 13px;
        font-weight: normal;
        color: #ffffff;
        -moz-transform: scale(1) rotate(-90deg) translateX(-92px) translateY(-1px) skewX(0deg) skewY(0deg);
        -webkit-transform: scale(1) rotate(-90deg) translateX(-92px) translateY(-1px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(-90deg) translateX(-92px) translateY(-1px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(-90deg) translateX(-92px) translateY(-1px) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(-90deg) translateX(-92px) translateY(-1px) skewX(0deg) skewY(0deg);
      }
    }
    .wiki-post {
      float: left;
      width: 120px;
      padding: 0px;
      margin: 10px 0px 10px 20px;
      p {
        text-align: center;
        line-height: 13px;
        font-size: 12px;
      }
      img {
        margin-bottom: 3px;
      }
    }
  }


  .video-block {
    margin-top: 10px;
    background: #f6f6f6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 140px;
    .all-video {
      text-align: center;
      float: right;
      width: 20px;
      height: 140px;
      background: #b3b3b3;
      -webkit-border-radius: 0px 4px 4px 0px;
      -moz-border-radius: 0px 4px 4px 0px;
      border-radius: 0px 4px 4px 0px;
      i {
        margin-top: 60px;
      }
    }
    .all-video:hover {
      background: #d5d5d5;
    }
    .video-title {
      float: left;
      width: 20px;
      height: 140px;
      background: #005792;
      text-align: left;
      -webkit-border-radius: 4px 0px 0px 4px;
      -moz-border-radius: 4px 0px 0px 4px;
      border-radius: 4px 0px 0px 4px;
      h3 {
        font-size: 13px;
        font-weight: normal;
        color: #ffffff;
        -moz-transform: scale(1) rotate(-90deg) translateX(-107px) translateY(-1px) skewX(0deg) skewY(0deg);
        -webkit-transform: scale(1) rotate(-90deg) translateX(-107px) translateY(-1px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(-90deg) translateX(-107px) translateY(-1px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(-90deg) translateX(-107px) translateY(-1px) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(-90deg) translateX(-107px) translateY(-1px) skewX(0deg) skewY(0deg);
      }
    }
    .video-post {
      float: left;
      width: 120px;
      padding: 0px;
      margin: 10px 0px 10px 20px;
      p {
        text-align: center;
        line-height: 13px;
        font-size: 12px;
      }
      img {
        margin-bottom: 3px;
      }
    }
  }

  ul#FeaturedNav {

    li a {
      color: #333333;
      border: 0px none;
      height: 10px;
      line-height: 9px;
      cursor: pointer;
    }
    li.active a:hover, li a:hover {

      cursor: pointer;
      border: 0px none;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    li.active a {

      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;

      color: #ffffff;
      cursor: pointer;
      border: 0px none;
      background: #d6096c;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;

      text-shadow: 0px 0px 5px #ffffff;
      filter: dropshadow(color=#ffffff, offx=0, offy=0);
    }
    border: 1px none;

  }
}
.home-providers, .home-news{
  margin: 0;

  li{
    border-bottom: 1px solid #ebebeb;
    margin: .5em 0;
    padding: 3px;
  }

  h3 {
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
    a{
      text-decoration: none;
    }
  }
  //.date{
    //float: left;
  //}
}
.home-title{
  border-bottom: 1px #EFEFEF solid;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: normal;
  margin-bottom: 1em;
  padding: 0 .5em;
  //text-transform: uppercase;
}

.blog-title {
  background: #92AD18;
  color: #ffffff;
  padding: 3px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  a, a:hover{
    color: #ffffff;
    font-size: 11px;
  }
}

.blog {
  .post-block {
    background: #fafafa;
    width: 295px;
    min-height: 55px;
    margin: 5px 5px 0px 0px;
    padding: 5px;
    float: left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    .image {
      float: left;
      margin: 0px 5px 0px 0px;
    }
    .title {
      padding: 0;
      margin: 0;
      min-height: 35px;

    }
    .info {
      font-size: 11px;
      padding: 0;
      margin: 0px;
    }
  }
  .post-block:hover {
    background: #f2f2f2;
  }
}

.featured-posting{
  h3{
    line-height: 1.25;
  }
}

.news-item{
  clear: both;
  margin-bottom: .5em;

  //.image{
    //float:left;
    //margin: 0 .5em 0 0;
  //}
}
.thumbnail{
  img{
    margin: 0 auto;
    max-width: 100%;
  }
}

.vip-promotions{
  padding: 0;
  margin: 0;

  a:link.promotionable {
    display: inline-block;
    img{
      margin: 0 5px 0 0;
      width: 83px;
    }
  }

}
