// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home {

  img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

  }

  ul#FeaturedNav {

    li a {
      color: #333333;
      border: 0px none;
      height: 10px;
      line-height: 9px;
      cursor: pointer;
    }
    li.active a:hover, li a:hover {

      cursor: pointer;
      border: 0px none;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    li.active a {

      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;

      color: #ffffff;
      cursor: pointer;
      border: 0px none;
      background: #d6096c;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;

      text-shadow: 0px 0px 5px #ffffff;
      filter: dropshadow(color=#ffffff, offx=0, offy=0);
    }
    border: 1px none;

  }
}
.home-providers, .home-news{
  margin: 0;

  li{
    border-bottom: 1px solid #ebebeb;
    margin: .5em 0;
    padding: 3px;
  }

  h3 {
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
    a{
      text-decoration: none;
    }
  }
  //.date{
    //float: left;
  //}
}
.home-title{
  border-bottom: 1px #EFEFEF solid;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: normal;
  margin-bottom: 1em;
  padding: 0 .5em;
  //text-transform: uppercase;
}

.home-postings {

  a.user_link {
    color: grey;
  }

  h5 a.post_title {
    font-size: 13px;
    line-height: 1.5;
    font-weight: normal;
    margin-bottom: 1em;
  }

}

.featured-posting{
  h3{
    line-height: 1.25;
  }
}


.news-item{
  clear: both;
  margin-bottom: .5em;

  //.image{
    //float:left;
    //margin: 0 .5em 0 0;
  //}
}
.thumbnail{
  img{
    margin: 0 auto;
    max-width: 100%;
  }
}
