// Place all the styles related to the postings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-postings{
  list-style: none;
  //margin: 0;
  //padding: 0;
}

#postings{
  list-style: none;
  margin: 0;
  padding: 0;

  .image {
    float: left;
    margin: 0 .5em 0 0;
  }
}

.posting {
  //clear: both;
  margin-bottom: 1em;
  //.image{
    //float: left;
    //margin: 0 .5em .5em 0;
    //img{
      //border: 1px solid;
      //display: block;
    //}
  //}
}

.images{
  border: 1px solid #ebebeb;
  padding: .5em;
  a{
    display: inline-block;

    img{
      border: 1px solid;
      //border: none;
      display: block;
    }
  }
}
