// Place all the styles related to the postings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-postings{
  list-style: none;
  //margin: 0;
  //padding: 0;
}

#postings {

  #show {
    .posting-categories {
      margin-bottom: 8px;
    }


    .intro {
      margin-top: 10px;
      margin-bottom: 15px;
      .excerpt {
        color: #888888;
        letter-spacing: 0px;

      }
      .author {
        border-left: 2px solid silver;
        //background: #f1f1f1;
        //padding: 10px;
        text-align: center;
        //-webkit-border-radius: 3px;
        //border-radius: 3px;
        .date {
          font-size: 11px;
          color: #888888;
        }
      }

    }
    .carousel {
      float: left;
      //width: 350px;
      margin: 0px 10px 10px 0px;
      img { padding: 0px; }
      .carousel-caption {
        padding: 5px 15px 0px;
        //width: 320px;
      }
    }

    .body {

	.caption {
      display: block;
      position: relative;
      overflow: hidden;
      span {
        display: block;
        padding: 3px 10px 3px;
        background: rgba(0, 0, 0, 0.75);
        color: #ffffff;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        -webkit-border-radius: 0px 0px 3px 3px;
        border-radius: 0px 0px 3px 3px;

      }



    }

    
    }
    .left {
      margin-right: 10px;
    }
    .right {
      margin-left: 10px;
    }

    img {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
    .user-bar {
      margin: 10px 0px;
    }
    .tags-list {
      background: #f8f8f8;
      padding: 10px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }

    .carousel-caption {
      -webkit-border-radius: 0px 0px 3px 3px;
      border-radius: 0px 0px 3px 3px;
    }

  .more_postings {



    p.plus {
      a {
        display: block;
        padding: 5px 0px 5px 0px;
        background: #F8F8F8;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        overflow: hidden;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        span {
          color: #F8F8F8;
          padding-right: 5px;
        }
      }
      a:hover {
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        padding-left: 25px;
        text-decoration: none;
        background: #d6d6d6;
        span {
          color: #ffffff;
        }
      }
    }
  }



  }

  #index {
    .header {
      background: #F8F8F8;
      border-top: 1px dashed #D6D6D6;
      border-bottom: 1px dashed #D6D6D6;
      margin: 1em 0;
      padding: 1em;
    }
  }

}

.images{
  border: 1px solid #ebebeb;
  padding: .5em;
  a{
    display: inline-block;

    img{
      border: 1px solid;
      //border: none;
      display: block;
    }
  }
}
