// Place all the styles related to the PostingCategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posting-categories {

  h2.category-title {
    background: #EBEBEB;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 1em;
    line-height: 1.5;
    font-weight: normal;
    margin: 1em 0em;
    padding: 0 .5em;
    text-transform: uppercase;
  }

  #index, #show {

    .post-item {
      .left-block {
        text-align: center;
      }
      h4 {
        margin-top: 0px;
      }
    }

    .item {
      img {
        -webkit-border-radius: 3px;
        border-radius: 3px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .info {
        color: #878787;
      }
      clear: left;
      min-width: 299px;
      min-height: 70px;
      border-bottom: dotted 1px #d6d6d6;
    }
    .more-in {
      float: right;
    }
    .read-more {
      text-align: right;
    }
    .user-bar {
    }

  }
}