// Place all the styles related to the providers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.provider-category {
  .field{
    display: none;
    margin-left: 1em;
  }
}

.provider-category.active {
  .field{
    display: block;
  }
}

.image-container {
  /*background: #eee;*/
  background: #fff;
  border: 1px solid #ccc;
  //float: right;
  float: left;
  padding: .5em;
  margin-right: 1em;
}

.image-container img{
  display: block;
}

.description {
  font-size: 120%;
}

.location, .contacts, .categories, .custom-fields{
  margin-bottom: 2em;

  ul{
    margin: 0 0 1em 0;
    padding: 0;
    list-style: none;
  }
}
.contacts, .custom-fields {
  li{
    border-bottom: 1px solid #ccc;
    padding: .5em;
  }
}
.custom-fields{
  ul {
    background-color: #f8f8f8;
    border-top: 1px solid #ccc;
  }
  span{
    color: #222;
    display: inline-block;
    width: 40%;
  }
}
