// Place all the styles related to the providers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.provider-category {
  .field{
    display: none;
    margin-left: 1em;
  }
}

.provider-category.active {
  .field{
    display: block;
  }
}

.image-container {
  background: #eee;
  border: 1px solid #ccc;
  //float: right;
  float: left;
  padding: .5em;
  margin-right: 1em;
}

.image-container img{
  display: block;
}
