%li.clearfix.list-provider
  .image-container
    = image_tag provider.logo_url(:thumb)
  %h4= link_to provider.name, provider_path(provider)
  .description= provider.description
  %ul
    - for categoring in provider.categorizings
      %li= link_to categoring, category_path(categoring.category)
