#related-posts
  - Tag.find_by_name(category.name).taggings.each do |p|
    - if p.taggable_type == 'Posting'
      .carousel
        .carusel-inner
          .active.item
            = link_to posting_path(p.taggable) do
              = image_tag p.taggable.images.last.src_url(:medium)
            .carousel-caption
              %p= link_to p.taggable, posting_path(p.taggable)
