- categories.each do |category|
  %div
    %h3= link_to category.name, category
    .description= category.description
    %ul
      - category.children.each do |child|
        %li= link_to child.name, child
= link_to 'New Category', new_category_path
