- set_meta_tags :title => t(:'seo.sections.providers')
.row
  .span8
    %h3 Выберите нужную категорию
    %ul.categories.clearfix
      - for child in categories
        %li
          %h3= link_to child, child
          - if child.children
            %ul.children-categories
              - for child in child.children
                %li= link_to child, child

    %hr/
  .span4
    = render :partial => 'shared/advertising/kursor_ads'
    %hr/
    = render :partial => 'shared/widgets/widgets'