.column.span-20.prepend-4
  =breadcrumbs_for_category category
  %h2= category.name
  .description= category.description

  %ul
    - category.children.each do |child|
      %li= link_to child.name, child


  %h3 Вхождения:
  %ul
    - category.categorizings.each do |categorizing|
      %li= link_to categorizing.provider.name, provider_path(categorizing.provider.permalink)

