# encoding: utf-8

= t('mailers.user_transfer.mail_body_html', :name => @provider.name, :email => @email, :password => @password, :provider_url => provider_url(@provider, :host => "kursor.org.ua") )


