// HOME_Right_Column_300x250
#div-gpt-ad-1345035698044-0{ :style => 'width:300px; height:250px;' }
  :javascript
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1345035698044-0'); });
