// HOME_Right_Column_300x250
#div-gpt-ad-1345035698044-0{ :style => 'width:300px; height:250px;' }
  :javascript
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1345035698044-0'); });

%br/

// HOME_Right_middle_300_w
#div-gpt-ad-1360595247317-0{ :style => 'width:300px;' }
  :javascript
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1360595247317-0'); });

%br/

// HOME_Right_Second_300x100
#div-gpt-ad-1345035698044-1{ :style => 'width:300px;' }
  :javascript
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1345035698044-1'); });