// HOME_Right_Column_300x250

#div-gpt-ad-1343121246256-0{ :style => 'width:300px; height:250px;' }
  :javascript
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1343121246256-0'); });

-#- @random = rand(1...6)
-#- if @random == 1
-#  = link_to root_url + 'c/uroki-muzyki' do
-#    = image_tag '/images/banner-1.jpg'
-#- elsif @random == 2
-#  = link_to root_url + 't' do
-#    = image_tag '/images/banner-2.jpg'
-#- elsif @random == 3
-#  = link_to root_url + 'c/vuzy' do
-#    = image_tag '/images/banner-3.jpg'
-#- elsif @random == 4
-#  = link_to root_url + 'c/shkoly' do
-#    = image_tag '/images/banner-4.jpg'
-#- elsif @random == 5
-#  = link_to root_url + 'c/uroki-vokala' do
-#    = image_tag '/images/banner-5.jpg'