%p Приветствуем, #{@resource.email}!
%p Кто-то запросил изменение Вашего пароля, это можно сделать по ссылке ниже.
%p #{link_to t(:'devise.password_recover.change'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)}
%p Если Вы не запрашивали изменение пароля, пожалуйста, просто удалите это письмо'.
%p Ваш пароль не будет изменен до тех пор, пока не будет осуществелн переход по ссылке выше.
